:root {
  --color1: #5a24c7;
  --color2: #712cf9;
  --color3: #491da1;
  --color4: #37167a;
  --color5: #1b0b3b;
}

article {
  padding: 1vw;
  width: 100%;
  min-height: calc(100% - 5.5vw);
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
  font-size: 1vw;
}

.btn-verde {
  color: #fff;
  background-color: #198754;
  border: #198754;
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn-verde:hover {
  background-color: #157347;
  border: #157347;
  transition: all 0.15s ease-in-out;
}

.btn-rojo {
  color: #fff;
  background-color: #dc3545;
  border: #dc3545;
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn-rojo:hover {
  background-color: #b02a37;
  border: #b02a37;
  transition: all 0.15s ease-in-out;
}

.btn-tematico {
  color: #fff;
  background-color: var(--color1);
  border: var(--color3);
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn-tematico:hover {
  background-color: var(--color3);
  border: var(--color1);
  transition: all 0.15s ease-in-out;
}

input, select, textarea {
  padding: 0.4vw;
  font-size: 1vw;
  /* background-color: #212529; */
  border: 0.1vw #495057 solid;
  border-radius: 0.5vw;
}

.notisContent {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notis {
  z-index: 100000;
  background-color: #198754;
  border: 0.2vw #157347 solid;
  color: #fff;
  top: 10vw;
  border-radius: 0.8vw;
  padding: 1vw;
  transform: translate(0, -20vw);
  transition: 0.8s ease-in-out;
}

.notiserror {
  z-index: 100000;
  background-color: #a53c3c;
  border: 0.2vw #731515 solid;
  color: #fff;
  top: 10vw;
  border-radius: 0.8vw;
  padding: 1vw;
  transform: translate(0, -20vw);
  transition: 0.8s ease-in-out;
}

.notiswarning {
  z-index: 100000;
  background-color: rgb(253, 233, 185);
  border: 0.2vw #ffe69c solid;
  color: #664d03;
  top: 10vw;
  border-radius: 0.8vw;
  padding: 1vw;
  /* transform: translate(0, -20vw); */
  transition: 0.8s ease-in-out;
  font-size: 1.4vw;
}

.notis.active, .notiserror.active {
  transform: translate(0, 3.8vw);
  transition: 0.8s ease-in-out;
}
