@font-face {
  font-family: 'Roboto';
  src: url('/Banco/app/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #dddddd;
  background-image: radial-gradient(#cfcfcfd4 0.1vw, transparent 0);
  background-size: 1vw 1vw;
  background-position: -19vw -19vw;
}

header {
  display: flex;
  z-index: 100;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  padding: 0.5vw;
  height: 3.5vw;
  width: 100%;
  position: sticky;
  top: 0;
}

header .logo svg {
  font-size: 2vw;
  color: #fff;
}

header .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

header .links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2vw;
  color: #fff;
  border-radius: 0.5vw;
  transition: 0.5s ease-in-out;
  background-color: var(--color2);
  padding: 0.2vw;
}

header .links a:hover {
  color: var(--color2);
  background-color: #fff;
  transition: 0.5s ease-in-out;
  padding: 0.2vw;
  border-radius: 0.5vw;
}

header .links a.disabled {
  cursor: default;
  color: #b1b1b1;
  background-color: var(--color2);
}

header .links a.disabled:hover {
  color: #b1b1b1;
}

/* header DIV */

header .perfil {
  display: flex;
  background: none;
  border: none;
  align-items: center;
}

header .perfil .iconoPerfil {
  color: #fff;
  font-size: 2.3vw;
}

header .perfil .arrow {
  display: flex;
  align-items: flex-end;
  margin-left: 0.3vw;
}

header .perfil .arrow .iconoFlecha {
  color: #fff;
  font-size: 1.5vw;
}

header .perfilMenu {
  font-size: 1.3vw;
}

header .perfilMenu .modulo {
  display: flex;
  flex-direction: column;
  margin-top: 0.8vw;
}

header .perfilMenu .cabeza {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5vw 2.5vw 0.8vw 2.5vw;
}

header .perfilMenu .cabeza .iconoMenuUsuario {
  width: 5vw;
  height: 5vw;
  color: #696969;
}

header .perfilMenu .perfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0vw 2.5vw 2.5vw 2.5vw;
}

header .perfilMenu .botones button {
  width: 100%;
  border-top: 0.1vw grey solid;
  border-left: none;
  border-bottom: none;
  border-right: none;
  padding: 1vw 0;
  background: transparent;
  cursor: pointer;
  color: #323232;
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}

header .perfilMenu .botones button:hover {
  background-color: #39393ef5;
  color: #fff;
}

header .perfilMenu .botones button p {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3vw;
  margin: 0 2vw;
}

#arrow {
  transition: transform .2s ease-in-out;
}

.rotar {
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}

header .perfilMenu {
  max-height: 0vw;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0.8vw;
  right: 1vw;
  top: 4.3vw;
  border: transparent;
  box-shadow: transparent;
}

header .perfilMenu.cerrar {
  animation: cerrarMenu 0.5s ease-in-out forwards;
}

.perfilMenu.mostrar {
  animation: abrirMenu 0.5s ease-in-out forwards;
  border: 0.23vw rgba(0, 0, 0, 0.175) solid;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


@keyframes abrirMenu {
  0% {
      background-color: #fff;
      border: 0.23vw rgba(0, 0, 0, 0.175) solid;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  1% {
      max-height: 0vh;
  }

  100% {
      max-height: 100vh;
  }
}

@keyframes cerrarMenu {
  0% {
      background-color: #fff;
      border: 0.23vw rgba(0, 0, 0, 0.175) solid;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      max-height: 100vh;
  }

  99% {
      max-height: 0vh;
      background-color: #fff;
      border: 0.23vw rgba(0, 0, 0, 0.175) solid;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  100% {
      background-color: transparent;
      border: transparent;
      box-shadow: transparent;
      max-height: 0vh;
  }
}

footer {
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw;
  font-size: 1vw;
  height: 2vw;
  width: 100%;
  position: sticky;
  bottom: 0;
  color: #e6e6e6;
}
