@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #dddddd;
  background-image: radial-gradient(#cfcfcfd4 0.1vw, transparent 0);
  background-size: 1vw 1vw;
  background-position: -19vw -19vw;
}

header {
  display: flex;
  z-index: 100;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  padding: 0.5vw;
  height: 3.5vw;
  width: 100%;
  position: sticky;
  top: 0;
}

header .logo svg {
  font-size: 2vw;
  color: #fff;
}

header .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

header .links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2vw;
  color: #fff;
  border-radius: 0.5vw;
  transition: 0.5s ease-in-out;
  background-color: var(--color2);
  padding: 0.2vw;
}

header .links a:hover {
  color: var(--color2);
  background-color: #fff;
  transition: 0.5s ease-in-out;
  padding: 0.2vw;
  border-radius: 0.5vw;
}

header .links a.disabled {
  cursor: default;
  color: #b1b1b1;
  background-color: var(--color2);
}

header .links a.disabled:hover {
  color: #b1b1b1;
}

header .user {
  font-size: 2vw;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 3.5vw;
  width: 4vw;
}

header .user #flecha {
  font-size: 1.4vw;
  color: #fff;
  margin: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

header .user #flecha.active {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

header .userOptions {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  font-size: 1.45vw;
  border-radius: 1vw;
  right: 1vw;
  top: 5vw;
  max-height: 0vh;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  padding-left: 0.5vw;
  border-top: 0.3vw #5c5c5c solid;
  padding: .8vw;
}

header .userOptions.active {
  max-height: 100vh;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}

header .userOptions .datos div {
  margin: 0.5vw 0;
}

header .userOptions .botones {
  display: flex;
  flex-direction: column;
}

header .userOptions .botones a {
  margin: 0.5vw 0;
  text-decoration: none;
}

footer {
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5vw;
  font-size: 1vw;
  height: 2vw;
  width: 100%;
  position: sticky;
  bottom: 0;
  color: #e6e6e6;
}
