article {
  padding: 1vw;
  width: 100%;
  position: absolute;
  top: 3.5vw;
  bottom: 2vw;
  min-height: calc(100% - 5.5vw);
  display: flex;
  flex-direction: column;
  color: #2e2e2e;
}

article .banco {
  padding: 0 0 1vw 0;
  font-size: 4.5vw;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

article .banco select {
  background: transparent;
  border: 0.3vw #8d8d8d solid;
  border-radius: 1vw;
  font-size: 2vw;
  min-width: 60%;
  color: #2e2e2e;
}

article .tablas {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

article .tablas table {
  background-color: #eeeeee;
  width: 30%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 1vw;
}

article .tablas table td,
article .tablas table th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
  border-radius: 1vw;
}

table.blueTable tbody td {
  font-size: 13px;
  border-radius: 1vw;
}

table.blueTable thead {
  background: #5e5e5e;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
