form {
    display: flex;
    flex-direction: row;
}

.left, .right {
    width: 50%;
}

form input {
    margin-top: 1.3vw;
}

form select {
    margin: 1.3vw 0;
}

.sendButton {
    position:fixed;
    bottom: 3vw;
    left: 3vw;
}

.left div {
    display: flex;
    flex-direction: column;
}

.left input, .left select {
    width: 70%;
    margin: 0;
}

label {
    margin: 2vw 0vw .5vw 0vw;
}