form {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.banco {
    width: max-content;
    padding: 2vw;
    border: .3vw #000 solid;
    border-radius: .8vw;
    transition: .5s ease-in-out;
    max-height: 0vh;
    overflow: hidden;
    visibility: hidden;
}

.act {
    max-height: 30vh;
    transition: .5s ease-in-out;
    visibility: visible;
}

.banco h2 {
    font-size: 1.5vw;
}

.banco button {
    width: max-content;
    margin-top: 1vw;
}