form {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    width: max-content;
}

form button {
    width: max-content;
    margin: 1vw;
    margin-left: 40%;
}

.accordion-heading {
    cursor: pointer;
    background-color: var(--color4);
    padding: 10px;
    margin: 0;
    border-radius: .8vw;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion-item.active .accordion-content {
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    transition: max-height 0.3s ease-in;
  }
  