article {
  padding: 2vw 0 5vw 0;
}

article .banco {
  padding: 0 0 1vw 0;
  font-size: 3vw;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

article .banco select {
  background: transparent;
  border: 0.15vw #8d8d8d solid;
  border-radius: 1vw;
  font-size: 2vw;
  min-width: 60%;
  color: #2e2e2e;
}

article .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.background {
  background-color: #0000007a;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  z-index: 10000;
}

.archive {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .8vw;
  border: .2vw #000 solid;
}

textarea {
  width: 100%;
  min-height: 2.5vw;
  resize: vertical;
  margin-bottom: 1vw;
}

input, select {
  height: 2.5vw;
  width: 100%;
  margin-bottom: 1vw;
}

.boton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.cerrar {
  width: 2.3vw;
  height: 2.3vw;
}