* {
    font-size: 1.5vw;
}

body {
    padding: 2vw;
}

article {
    background-color: #fff;
    border-radius: .8vw;
    border: 2px #969696d4 solid;
}

.one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1vw;
}

img {
    width: auto;
    height: 7vw;
}

h1 {
    font-size: 2vw;
}

table {
    border-collapse: collapse;
    border-width: .2vw;
    padding: 1vw;
    border: .15vw #000 solid;
    border-radius: .2vw;
}

td {
    padding: .6vw;
    border: .1vw #000 solid;
    vertical-align: top;
    height: 6vw;
}

p {
    font-size: 1vw;
    margin-bottom: .5vw;
    
}

b {
    text-transform: uppercase;
}

@media print {

    body {
        background-color: #fff;
        background-image: none;
    }

    article {
        border: none;
    }
}