.print {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.print .botones a {
    text-decoration: none;
    position: relative;
}

.modulo {
    background-color: #bdbdbdb9;
    background-image: radial-gradient(#585858e7 0.1vw, transparent 0);
    padding: 1.3vw;
    margin: 1vw 0;
    border-radius: .8vw;
    border: .2vw black solid;
    font-weight: 600;
}

.paciente {
    margin-top: 0;
}

.datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
    grid-row-gap: 1.5vw;
}

.datos div,
.divModulo {
    display: flex;
    flex-direction: column;
}

.datos div label,
.labelJSON {
    margin-bottom: .3vw;
    font-size: 1.2vw;
}

h3 {
    font-size: 1.5vw;
    margin-bottom: 1.8vw;
}

input {
    height: 2.3vw;
}

textarea {
    resize: none;
}

.fa-texto {
    position: fixed;
    right: 21.5vw;
    top: 50%;
    transform: rotate(270deg);
    /* translate: 31% 0; */
    translate: 24.5vw 0;
    background: var(--color1);
    padding: .8vw .5vw .8vw .5vw;
    border-radius: .8vw .8vw 0vw 0vw;
    cursor: pointer;
    margin: 0;
    transition: background .17s ease-in-out;
    width: min-content;
    transition: all 1s ease-in-out;

    /* height: 100%; */
}

.fa-texto:hover {
    background: var(--color3);
    margin: 0;
}

.fa-textopen {
    right: 38vw;
    transition: all 1s ease-in-out;
}

.panel {
    position: fixed;
    right: -16.9%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 1s ease-in-out;
    margin: 0;
}

.copy {
    background-color: var(--color1);
    color: #fff;
    padding: .8vw 0 .8vw .8vw;
    border-radius: .8vw 0 0 .8vw;
    display: flex;
    flex-direction: column;
}

.copys {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    padding: .5vw .5vw .5vw .5vw;
    border-radius: .8vw 0 0 .8vw;
    border: .2vw #000 solid;
}

.copyButton {
    margin: .15vw 0;
    text-align: left;
}

.panel-abierto {
    right: 0;
    transition: all 1s ease-in-out;
}

.saveContainer {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    display: flex;
    align-items: center;
}

.saveButton {
    font-size: 1.8vw;
    width: 3vw;
    height: 3vw;
}

.pSave {
    position: fixed;
    font-size: 1.5vw;
    color: #fff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 3vw;
    background-color: #105a37;
    transition: width .5s ease-in-out;
    z-index: -1;
    right: 1.5vw;
    border: #198754;
    padding: 0.5vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.saveContainer:hover .pSave {
    width: 16vw;
    transition: width .5s ease-in-out;
}



.backContainer {
    position: fixed;
    top: .5vw;
    left: .5vw;
    display: flex;
    align-items: center;
}

.backButton {
    font-size: 1.8vw;
    width: 3vw;
    height: 3vw;
}

.pBack {
    position: fixed;
    font-size: 1.5vw;
    color: #fff;
    
    width: 3vw;
    text-align: right;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    height: 3vw;
    transition: width 0.4s ease-in-out;
    z-index: -1;
    padding: 0.5vw;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: var(--color1);
    border: var(--color3);
}

.backContainer:hover .pBack {
    width: 12vw;
    transition: width 0.4s ease-in-out;
}



@media (max-width: 600px) {

    .fa-textopen {
        right: 50vw;
    }

    .panel {
        right: -29vw;
    }

    .panel-abierto {
        right: 0;
        transition: all 1s ease-in-out;
    }

    .copyButton {
        font-size: 10px;
    }
}